<div class="container">
  <br/>
  <div align="center">
    <h1>Welcome Faith!</h1>
  </div>
  <br/><br/>
  <div align="center">
    <h6>How are you feeling today?</h6>
  </div>

  <br/>
  <span>not good :(((((((<span>
  <input type="range" align="center" class="form-range w-75 p-3" min="0" max="5" id="customRange3">
  <span>AMAZINGGGGG<span>
</div>
